body {
	background-image: url("../img/bgtile2.png");
    background-repeat: repeat;
	margin-right: 5px;
}
	
.col-md-1 {
	background-size: 500px auto;
}

.col1 {
	background-image: url("../img/bgtile1.png");
    background-repeat: repeat;
	margin-right: 5px;
	margin-left: 200px;
}
.col2 {
	background-image: url("../img/bgtile2.png");
    background-repeat: repeat;
	margin-right: 5px;
}
.col3 {
	background-image: url("../img/bgtile3.png");
    background-repeat: repeat;
	margin-right: 5px;
}
.col4 {
	background-image: url("../img/bgtile4.png");
    background-repeat: repeat;
	margin-right: 5px;
}
.col5 {
	background-image: url("../img/bgtile5.png");
    background-repeat: repeat;
	margin-right: 5px;
}
.col6 {
	background-image: url("../img/bgtile6.png");
    background-repeat: repeat;
	margin-right: 5px;
}
.col7 {
	background-image: url("../img/bgtile7.png");
    background-repeat: repeat;
	margin-right: 5px;
}
.col8 {
	background-image: url("../img/bgtile8.png");
    background-repeat: repeat;
	margin-right: 5px;
}