.grayiconcolor {
	color: #D9D9D9;
	margin: 5px;
	margin-bottom: 15px;
}

.dAiconhover:hover {
	color: #04CC48;
	border: solid 0.08em #fff;
	background-color: #000;
}

.linkedIniconhover:hover {
	color: #fff;
	background-color: #0077B5;
	border: solid 0.08em #fff;
}

.githubiconhover:hover {
	color: 	#572A7D;
	background-color: 	#E1E6F9;
	border: solid 0.08em 	#fff;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

.hoverTable{
	width:100%; 
	border-collapse:collapse; 
}
.hoverTable td{ 
	padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable tr{
	background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	  background-color: #ffff99;
}
.hoverTable a {
    display:block;
    text-decoration:none;
}