/* layout.css */
html {
  overflow-y: scroll;
}

.gallerycontainer { 
	position: relative; 
	width: 90%; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
 
#navFilter {
	margin:1%;
	padding:0;
	list-style:none;
}

#navFilter li {
  float:left;
}

#navFilter li span {
  display: block;
  padding:5px 20px;		
  text-decoration:none;
  color: #6d676e;
  cursor: pointer;
}

#navFilter li span.active {
  background: #ff1447;
  color:#fff;
}
 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  background: #6d676e;
  cursor:pointer;
}

.portfolio img {
  max-width:100%;
  position: relative;
  top:0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}

.portfolio .gallerylabel {
  background-color: #6d676e;
  position: absolute;
  width: 100%;
  height:40px;
  bottom:-40px;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .gallerylabel-bg {
  background-color: #1b1b1e;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}
	
.portfolio .gallerylabel-text {
  color: #16f9d0;
  font-weight: bold;
  position: relative;
  z-index:500;
  padding:5px 8px;
}

.portfolio .text-category {
  display:block;
  font-size:9px;
}
	
.portfolio:hover .gallerylabel {
  bottom:0;
}
.portfolio:hover img {
  top:-30px;
}  
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.gallerycontainer {
		width: 768px; 
	}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.gallerycontainer { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.gallerycontainer {
		width: 70%;
	}
}

.onclick-menu {
    outline: none;
}
/* dropdown on mobile devices */
@media only screen and (max-width: 767px) {
  #navFilter {
    background-color: #fff1ed;
    color: #1b1b1e;
    border-left: 1px solid #1b1b1e;
    border-right: 1px solid #1b1b1e;
    border-bottom: 1px solid #1b1b1e;
    box-shadow: 2px 2px 4px #6d676e;
  }
  #navFilter>li {
    width: 100%;
    border-top: 1px dotted #6d676e;
  }
  .onclick-menu {
      position: relative;
      display: inline-block;
  }
  .onclick-menu:before {
      content: "Filter By Category";
      background-color: #ff1447;
      color: #fff;
      padding: 5px 20px;
      display: block;
      border: 1px solid #1b1b1e;
  }
  .onclick-menu:focus {
      /* clicking on label should toggle the menu */
      pointer-events: none;
      outline: none;
  }
  .onclick-menu:focus .onclick-menu-content {
      /*  opacity is 1 in opened state (see below) */
      opacity: 1;
      visibility: visible;
      outline: none;

      /* don't let pointer-events affect descendant elements */
      pointer-events: auto;
  }
  .onclick-menu-content {
      position: absolute;
      z-index: 1;

      /* use opacity to fake immediate toggle */
      opacity: 0;
      visibility: hidden;
      transition: visibility 0.5s;
  }
}


/* style.css */
body {
  background-color: #fff1ed;
  color: #1b1b1e;
}

.navbar-default {
  background-image: url("../img/new_navbar_bg.png");
  border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  background-color: #fff1ed;
}

.logo {
	color: #ff1447;
	font-family: 'raleway-regular', arial;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 0.85;
	text-decoration: none;
	text-align: center;
}

.logo > .name {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	text-decoration: none;
}

.navbar-nav>li {
  background-color: rgba(109,103,110,0.75);
  color: #1b1b1e;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #fff1ed;
}

.navbar-nav>li:hover {
  background-color: #6d676e;
  opacity: 1;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff1ed;
}

.navbar-default .navbar-nav>.active, .navbar-default .navbar-nav>.active:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #fff1ed;
  color: #ff1447;
  opacity: 1;
}

a.text-title {
	color: #fff1ed;
}

a.text-title:hover {
	text-decoration: none !important;
	color: #fff1ed;
}

.parallax-port {
  position: absolute;
  top:172px; bottom:10px; left:10px; right:10px;
  background-image: url("../img/parallax/merged2.png");
}

.parallax-layer {
  opacity: 0;
}

@media screen and (min-width: 768px) { 
  .parallax-port {
    position: absolute;
    top:172px; bottom:80px; left:80px; right:80px;
    background: #5e412f; overflow: hidden;
  }

  .parallax-layer {
    position: absolute;
    opacity: 1;
  }

  .site_wrap {
    margin-left: 80px;
  }
}

.modal-title, .modal-body {
  text-align: center;
}

.modal-body>img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.aboutIcon {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
}

.information {
  margin-right: 20px;
}

.indexText {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff00ff;
}

.main {
  text-align: left;
  margin-left: 25%;
}

.rotate {
  color: #78C0A8;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  border-radius: 30px;
}

#myCarousel, #mirtheCarousel {
  margin-bottom: 5px;
}

.fotorama {
  /* background-color: #F07818; */
  background-color: #696969;
}

.btn-warning { 
  color: #ffffff; 
  background-color: #FF1447; 
  border-color: #B51B3C; 
} 
 
.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning { 
  color: #ffffff; 
  background-color: #F20E40; 
  border-color: #B51B3C; 
} 
 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning { 
  background-image: none; 
}
 
.btn-warning.disabled, 
.btn-warning[disabled], 
fieldset[disabled] .btn-warning, 
.btn-warning.disabled:hover, 
.btn-warning[disabled]:hover, 
fieldset[disabled] .btn-warning:hover, 
.btn-warning.disabled:focus, 
.btn-warning[disabled]:focus, 
fieldset[disabled] .btn-warning:focus, 
.btn-warning.disabled:active, 
.btn-warning[disabled]:active, 
fieldset[disabled] .btn-warning:active, 
.btn-warning.disabled.active, 
.btn-warning[disabled].active, 
fieldset[disabled] .btn-warning.active { 
  background-color: #FF1447; 
  border-color: #B51B3C; 
} 
 
.btn-warning .badge { 
  color: #FF1447; 
  background-color: #ffffff; 
}
.btn-warning:active:focus {
  background-color: #B51B3C;
}