body {
	color: #FF0000;
	background-image: url("tylergif2.gif");
	background-repeat: repeat;
	font-family: "Comic Sans MS", cursive, sans-serif;
}


.leftcolumn {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 18px;
	width: 300px;
	text-align: right;
}

.tylerbutton {
	background: #000 url("bg1.jpg") top left;
	border: 6px ridge #bbb;
	padding: 4px 12px;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	width: 100%;
	text-shadow: 4px 4px 2px rgba(71, 200, 150, 1);
}

.tylerbutton img {
	width: 50px;
	vertical-align: middle;
}

.tylerbutton:hover {
	background: #000 url("giphy.gif") top left;
}

.center {
	text-align: center;
	background:rgba(255,255,255,0.5);
	height: 100%;
}