body {
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    background-image: url("../images/background.gif");
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

.head2 {
	font-family: Franklin Gothic;
	font-weight: bold;
	font-size: 50px;
}

.margin {
    margin-bottom: 10px;
}


.collapse img {
	width: 100%;
}

.panel-title>a {
	display: block;
	/* padding: 10px 15px; */
	padding: 5px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.panel {
	border: none;
	border-radius: 0px;
}

.panel-heading {
	background-color: #c0c0c0;
	border-radius: 0px;
	padding: 0px 5px;
	border-bottom: inset 2px black;
	border-right: inset 2px black;
	border-top: inset 2px white;
	border-left: inset 2px white;
}

.actives {
	background-color: #000099;
	color: #fff;
}

.pad {
    padding-top: 10px;
}

.container {
    margin-top: 10px;
    background-color: #008080;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
    border-bottom: inset 2px black;
	border-right: inset 2px black;
	border-top: inset 2px white;
	border-left: inset 2px white;
	color: #000;
}

.win95released {
	border-bottom: inset 2px black;
	border-right: inset 2px black;
	border-top: inset 2px white;
	border-left: inset 2px white;
}

.win95pressed {
	border-top: inset 2px black;
	border-left: inset 2px black;
	border-bottom: inset 2px white;
	border-right: inset 2px white;
}

.footer {
	border-top: inset 2px black;
	margin-top: 10px;
	background-color: #c0c0c0;
	color: #000;
	padding: 10px;
}

.start {
	padding: 7px;
	background-color: #c0c0c0;
}